<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="sub-footer-inner">
          <ul>
            <li class=""><a href="https://www.solquemal.com">facilitado por Sol Sarratea</a></li>
            <li class=""><a href="https://danimiba.art/">y curado por Daniela Mibashan</a></li> <br>
            <li class=""><a href="https://www.nodocultural.art/"> para  NODO - CENTRO CULTURAL DIGITAL</a></li>
          </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>
